:root {
  --transition-duration: 250ms;
}

@font-face {
  font-family: 'icons';
  src: url(../../assets/fonts/icons//icons.eot?49866351);
  src: url(../../assets/fonts/icons/icons.eot?49866351#iefix)
      format('embedded-opentype'),
    url(../../assets/fonts/icons/icons.woff2?49866351) format('woff2'),
    url(../../assets/fonts/icons/icons.ttf?49866351) format('truetype');
}

[class*=' icon-']:before,
[class^='icon-']:before {
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  text-transform: none;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 500% / 1em icons;
  font-size: 1.2rem;
  transition: all var(--transition-duration);
}

.btn-wrapper * {
  cursor: pointer;
}

.btn-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  /*  */
  justify-content: center;
  /*  */
  width: 100%;
  border: 0.5px solid black;
  margin-bottom: 0.5rem;
  transition: all var(--transition-duration);
}

.btn-wrapper:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.08), 0 2px 4px -2px rgb(0 0 0 / 0.08);
}

.btn-wrapper .btn-content {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  /*  */
  /* margin-left: 38%; */
  /*  */
  font-size: 10px;
  text-transform: uppercase;
}

.btn-wrapper label {
  font-size: 12px;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

.icon-apple:before {
  content: '\f179';
}

.btn-wrapper:hover .icon-apple {
  color: #6f6f6f;
}

.icon-bandcamp:before {
  content: '\f2d5';
}

.btn-wrapper:hover .icon-bandcamp {
  color: #629aa9;
}

.icon-soundcloud-3:before {
  content: '\e80b';
}

.btn-wrapper:hover .icon-soundcloud-3 {
  color: #f50;
}

.icon-spotify:before {
  content: '\f1bc';
}

.btn-wrapper:hover .icon-spotify {
  color: #23d760;
}

.icon-tidal {
  color: #000000bf;
}

.icon-tidal:before {
  content: '\e800';
}

.btn-wrapper:hover .icon-tidal {
  color: #000;
}

.icon-youtube-1:before {
  content: '\f313';
}

.btn-wrapper:hover .icon-youtube-1 {
  color: #ff0000;
}

.icon-deezer:before {
  content: '\e804';
}

.btn-wrapper:hover .icon-deezer {
  color: #e90e8c;
}
